.sidebarMenuTopLogo {
  position: fixed;
  background-color: #202123;
  z-index: 20;
  left: 10px;
  display: flex;
  padding-top: 5px;
  width: 310px;
  align-items: center;
  justify-content: center;
  top: 5px;
}